In [1]:
import pandas as pd
import numpy as np
import io
import requests

pull in the aiport location data and weather data from Github and use it to create the dataframe for the aiports and weather.

In [4]:
url = 'https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv'
url2 = 'https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv'

airport_data = requests.get(url).content
airports = pd.read_csv(io.StringIO(airport_data.decode('utf-8')))

weather_data = requests.get(url2).content
weather = pd.read_csv(io.StringIO(weather_data.decode('utf-8')))

Question 1:
What is the northernmost airport in the United States?

I used Goole maps to verify the latitude and longitudes and identify the mistakes.

Narrative:
According to our data EEN in New Hampshire is the most northern airport. A quick google map seach and we can see that the latitude for this airport is actually 42.9 not 72.27. the latitude and longitude were reversed on entry. it should be 42.9 lat and -72.24 lon. i dropped some decimal places for convience.

Answer 1: 
The northern most airport would be Wiley Post WIll Rogers Mm (BRW) at latitude 71.285446.

In [3]:
airports_loc_lat = airports.sort_values('lat', ascending=False)
airports_loc_lat.head()

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9.0,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9.0,A,America/Anchorage

Question 2:
What is the easternmost airport in the United States?


Assumptions:
For this asignment i am assuming we are talking about the fatherest airport east relative to the center of the continental United States. 
I used Goole maps to verify the latitude and longitudes and identify the mistakes.

Narrative:
SYA is positive because it crossed the Prime Meridian since it is so far west in alaska. This would be the most eastern airport if looking at a map that is laid flat and split on the Prime Meridian.

MYF and DVT are a mistake. MYF is located in Califronia and DVT is in Arizone. Looks like the '-' was dropped.
EEN was entered wrong as discussed in the previous question

Answer 2:
Eastport Municipal Airport (EPM) is the eastern most airport relative to the continental United States with a longitude of -67.012694.

In [5]:
airport_loc_lon = airports.sort_values('lon', ascending=False)
airport_loc_lon[:10]

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9.0,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8.0,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8.0,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5.0,A,America/New_York
259,CAR,Caribou Muni,46.871500,-68.017917,626,-5.0,A,America/New_York
1101,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-5.0,A,America/New_York
1398,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5.0,A,America/New_York
192,BHB,Hancock County - Bar Harbor,44.449769,-68.361565,83,-5.0,A,America/New_York

Question 3:
On February 12th, 2013, which New York area airport had the windiest weather?
 
Assuming:
There are no units on the speeds so it will be assumed these are in miles per hour. 
Also, I am assuming we are looking at wind speed and not wind gust.

Narative:
We will select only the rows that are for the date we are interested in.
Then we sort the wind speed column from highest value to lowest.
The first entry from ERW does not seem realistic at 1048.36.
According to a google search the highest wind ever recorded was in Tropical Cyclone Olivia with wind gust of 253 mph.
So the windest airport for this day would be LGA.

Answer 3:
As shown the airport with the hihgest wind speed on February 12, 2013 was LGA with a speed of 23.01560.

In [6]:
weather_date = weather.loc[(weather['month'] == 2) & (weather['day'] == 12) & (weather['year'] == 2013)]                                                     
sort_wind_speed = weather_date.sort_values('wind_speed', ascending=False)
sort_wind_speed.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z